@import './index.scss';

// css resets
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font-family;
	font-size: $fs-homepage;
	font-weight: $fw-semi-bold;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	border: none;
	outline: none;
}

.app {
	@include light-mode;
	height: 100vh;
	.app-container {
		margin: 0 auto;
		max-width: $bp-desktop;
	}
}

.app.dark-mode {
	@include dark-mode;
	.navbar-container {
		background-color: $dark-mode-elements;
	}
	.country {
		background-color: $dark-mode-elements;
	}
}

.countries-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 100px 40px 0;
	gap: 50px;
	@include bp-desktop {
		justify-content: space-between;
	}
	.country {
		border-radius: 5px;
		background-color: $light-mode-elements;
		box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.422);
		.image-container {
			height: 180px;
			width: 270px;
			.flag {
				border-radius: 5px 5px 0 0;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.country-info-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 20px;
			.country-name {
				margin-bottom: 15px;
			}
			.info-container {
				display: flex;
				flex-direction: row;
				.title {
					font-weight: $fw-extra-bold;
				}
			}
		}
	}
}
